@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@font-face {
    font-family: 'Bonoci';
    src: url('/public/Bonocì.ttf');
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

:root {
    --cor-principal: rgb(255, 255, 0);
    --cor-link: rgb(210, 35, 42);
    --cor-button: rgb(37, 64, 143);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Helvetica, sans-serif;    
    font-size: 1em;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;  
    align-self: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
    background-color: var(--cor-principal);
}

#linkHome {
    
    font-family: 'Bonoci' !important;
    color: var(--cor-button);
    text-decoration: none;
}

.boxBannerDesktop  {
    max-width: 3498px;
    min-width:  349.8px;
    max-height: 904px;
    width: 100%;
    display: block;
}

.boxBannerMobile {
    max-width: 1173px;
    min-width:  117px;
    max-height: 341px;
    width: 100%;
    display: none;
}

.boxBannerConvoc {
    margin-top: 250px;
    max-width: 1173px;
    min-width:  117px;
    max-height: 341px;
    width: 60vw;
    display: block;
}

.boxBannerPrograma {
    max-width: 1849px;
    min-width:  117px;
    max-height: 295px;
    width: 55vw;
    display: block;
}

.banner {
    margin-top: 350px;
}

  /* CABEÇALHO */
  nav {
    
    width: 100vw;
    height: auto;
    padding-top: 1.5rem;
    position: fixed top;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-principal);
}

nav ul {
    padding: 0.6rem 0.3rem;
    width: 55vw;
    max-width: 2000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li {
    width: auto;
    height: 2rem;
    padding: 0 0.2rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
}

nav ul li p {
    font-family: 'Bonoci';
    font-size: 1.2rem;
}

nav ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Bonoci';
    color: black;
    width: auto;
}

nav ul li a:hover {
    color: var(--cor-link);
}

nav #program {
    text-align: center;
}

#disabled {
    cursor: default;
}


#header {
    max-width: 2000px;
    width: 55vw;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#header .boxHeader {
    width: 55vw;
    height: auto;
 }

#header h5 {
    font-weight: 500;
}

#header h5 span {
    font-size: small;
    font-weight: 200;
}

 #header #social {
    width: 8vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}

#header #social #igBold {
    font-weight: 900;
    font-size: 1.2rem;
}


#header #social #ytBold {
    font-weight: 900;
    font-size: 1.2rem;
}


#header #social a {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
}

#header #social a:hover {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--cor-link)
}


 /* CAMPO DE TEXTO  */
 .box {
    max-width: 2000px;
    min-width: 80px;
    width: 55vw;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
} 

#boxContato {
    margin-bottom: 80px;
}

#boxContato ul {
    list-style: none;
}

#boxContato ul h2 {
    font-family: 'Bonoci';
    font-size: 1.5em;
    color: var(--cor-link)
}

#boxContato ul h3 {
    font-family: 'Bonoci';
    font-size: 1.2em;
    color: var(--cor-button)
}

.boxContatos span {
    font-size: 0.7rem;  
}

#boxContato a {
    text-decoration: none;
    color: black;
}
  
.boxContatos {  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: initial;
}

.box p {
    font-weight: 300;
    font-size: 1rem;
    padding: 0.5rem;
}

.boxImg {
    max-width: 2000px;
    min-width: 80px;
    width: 60vw;
    height: auto;
}


/*   ------------ ~ sz ~ CONVOCATÓRIA ~ sz ~ ------------   */

#buttonBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55vw;    
    margin: 10px 0;
    margin-bottom: 5rem;
}

#buttonBox .button {
    width: 10rem;
    height: 2rem;
    color: white;
    font-weight: bold;
    border: none;
    border-style: none;
    border-radius: 3px;
    background-color: var(--cor-button);
}

#buttonBox .button a {
    text-decoration: none;
    color: white;
}

/*   ------------ ~ sz ~ FOOTER DO SITE ~ sz ~ ------------   */

#footer {
    width: 100vw;
    background-color: white;
    position: fixed bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#footer div {
    max-width: 2000px;
    min-width: 80px;
    width: 55vw;
    height: auto;
}

#footerConvocatory {
    width: 100vw;        
    background-color: white;
    position: fixed bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#footerConvocatory div {
    max-width: 2000px;
    min-width: 80px;
    width: 55vw;
    height: auto;
}



/* -------------------------------- PAGINA PROGRAMAÇÃO --------------------------------------*/


#topoPrograma{
    display: flex;
    flex-direction: row;
    align-items: initial;
    justify-content: center;
   
    
}

#topoPrograma h4 {
    margin-left: 5px;
}

#topoPrograma p a {
    font-family: 'Bonoci';
    color: var(--cor-link);
    text-decoration: none;

}


#anoucer {
    color: var(--cor-link);
}

.separa {
    max-width: 2000px;
    min-width: 80px;
    width: 55vw;
    height: 20px;
    overflow: hidden;
    padding-left: 5px;

    margin: 10px 0;
}

.red  {
    color: var(--cor-link);
}

.red-link {
    font-family: 'Bonoci';
    color: var(--cor-link);
    font-size: large;
    
}

.blue  {
    color: var(--cor-button);
}

.red p {
    font-family: 'Bonoci';
    color: var(--cor-link);
}

.blue p {
    font-family: 'Bonoci';
    color: var(--cor-button);
}

.boxItem {
    display: flex;
    flex-direction: column;
    align-items: initial;
    padding: 10px 5px;
    
}

#block {
    border-bottom: black solid 1px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.boxItem h5 {
    font-size: small;
    padding-left: 5px;
}

.boxItem h2 {
    font-family: 'Bonoci';
    font-size: x-large;
    padding-left: 5px;
    margin-bottom: 10px;
}

.boxItem span {
    font-size: 0.7rem;  
}

.boxItem .prof {
    font-size: 0.85rem;  
}



/* ---------------------------- FIM DA PAGINA PROGRAMAÇÃO -----------------------------------*/


/* -------------------------- INÍCIO DA PAGINA PALESTRANTES ----------------------------------*/

.boxPalestrante { 
   width: 55vw;
   max-width: 2000px;
   height: auto;
   margin: 15px 0;
   
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

#bios p {
    text-align: left ;
}

#topoBios {
    display: flex;
    flex-direction: column;
    width: 25rem;    
    margin-bottom: 10px;
}

#topoBios h2 {
    font-family: 'Bonoci';
    font-size: x-large;
    margin-bottom: 5px;
}

#topoBios h4 {
    font-size: medium;
    font-weight: lighter;
}

#profilePic {
    float: center;
    margin-bottom: 15px;
    margin-right: 20px;
    padding-top: 20px;

    min-width: 250px;
    max-width: 800px;
 
    min-height: 250px;
    max-height: 800px;

    width: 2rem;
    height: 2rem;
}

/* ---------------------------- FIM DA PAGINA PALESTRANTES -----------------------------------*/

@media(max-width: 1000px) {
    
    body {
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;    
    }


    #convocatory {
        padding-top: 1rem;
    }
    
    .boxBannerDesktop  {
        width: 100vw;
        height: auto;
        overflow: hidden;
        display: none;
    }

    .boxBannerMobile {
        width: 100vw;
        height: auto;
        overflow: hidden;
        display: block;
    }

    .boxBannerConvoc {
        width: 90vw;
        margin-top: -1rem;
    }

    .boxBannerPrograma {
        width: 85vw;
        display: block;
    }


    #header {
        width: 90vw;
        height: auto;
        font-size: 0.65rem;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    #header .boxHeader {
        width: 75vw;
        padding-left: 10px;
        font-size: 0.7rem;
    }

    #header .boxHeader span {
        font-size: smaller;
    }
 

    #header #social {
        width: 5vw;
        height: 6em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

        
    #header #social #igBold {
        font-weight: 900;
        font-size: 1rem;
    }


    #header #social #ytBold {
        font-weight: 900;
        font-size: 1rem;
    }

    #header #social #fbBold {
        font-size: 1rem;
    }

    nav {
        color: black;
        width: 100vw;
        height: auto;
        padding-top: 1rem;
        padding-left: 10px;
        position: fixed top;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        width: 90vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        overflow: hidden;
    }

    nav ul li {
        width: auto;
        height: 0.8rem;
        padding: 0;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav ul li p {
        font-size: 0.7rem;
    }

    nav ul li a {
        font-size: x-small;
    }

    li a:hover {
        color: var(--cor-link)
    }

    /* HOME */
    .box {
        width: 90vw;   
        padding: 15px 5px;
     }

    .box p {
        font-size: 0.8rem;
    }


    .boxImg {
        min-width: 80px;
        width: 90vw;
        height: auto;
    }

    /*   ------------ ~ sz ~ CONVOCATÓRIA ~ sz ~ ------------   */

    #buttonBox {
        width: 90vw;
        padding: 0.5rem;
        margin: 10px 0 35px 0;
    }

    #buttonBox .button {
        width: 6rem;
        height: 2rem;
        font-weight: bolder;
        font-size: 0.6rem;
    }

    #footer {
        width: 100vw;        
        background-color: white;
        position: fixed bottom;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #footer div {
        max-width: 2000px;
        min-width: 80px;
        width: 90vw;
    }
    

    #footerConvocatory {
        width: 100vw;   
        background-color: white;
        position: fixed bottom;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #footerConvocatory div {
        max-width: 2000px;
        min-width: 80px;
        width: 90vw;
    }
    
    /*   ------------ ~ sz ~ PROGRAMAÇÃO PAGE ~ sz ~ ------------   */

    #program {
        padding-top: 15px;
    }

    .separa {
        width: 95vw;
        height: 20px;
        overflow: hidden;
        padding-left: 5px; 
        margin: 10px 0;
    }
    
    .boxItem p b {
        font-size: 0.95rem;
    }

    #profilePic {
        min-width: 150px;
        min-height: 150px;
    }



    /* -------------------------- INÍCIO DA PAGINA PALESTRANTES ----------------------------------*/

    .boxPalestrante { 
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    }

    #topoBios {
        display: flex;
        flex-direction: column;
        width: 90VW;
        margin-bottom: 10px;
    }

    #topoBios h2 {
        font-family: 'Bonoci';
        font-size: large;
    }

    #profilePic {
        float: center;
        margin-bottom: 15px;
        margin-right: 20px;
        padding-top: 20px;
        min-width: 250px;
        max-width: 800px;
        min-height: 250px;
        max-height: 800px;
        width: 2rem;
        height: 2rem;
    }

    /* ---------------------------- FIM DA PAGINA PALESTRANTES -----------------------------------*/
}
