@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@font-face {
    font-family: 'Bonoci';
    src: url('/public/Bonocì.ttf');
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

:root {
    --cor-principal: rgb(255, 255, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;

    width: 100vw;
    height: auto;
    background-color: var(--cor-principal);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


nav {
    background-color: var(--cor-principal);
    border-bottom: black solid 1px;
    color: black;
    width: 100vw;
    height: auto;
    padding-top: 1rem;
    position: fixed;
    
    display: flex;
    flex-direction: column;
    align-items: center;

} 

nav ul {
    margin: 0.9rem 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

    font-family: 'Bonoci', sans-serif;
}

nav ul .navIcon {
    size: 55px;
}

ul li {
    width: auto;
    height: 2rem;
    padding: 0 0.3rem;
    

    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
}

li a {
    text-decoration: none;
    color: black;
    width: auto;
}

li a:hover {
    font-size: 1.5rem;

}

#header {

    
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

#header h5 {
    font-weight: 500;
}

#header h5 span {
    font-size: small;
    font-weight: 200;
}
#header #social {
    width: 6em;
    height: 2em;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#main {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  
  
}

.box {
    width: 60vw;
    height: auto;
    background-color: var(--cor-principal);
    padding: 25px;
    margin-bottom: 1rem;
    border-radius: 0.45rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    
}

.box p {
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0.5rem;
}


#sub {
    
    width: 25vw;
    height: 10vh;
    padding: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sub h3 {
    color: red;
    font-size: medium;
}

#sub button {
    background-color: #041870c5;
    border-radius: 3px;
    color: #e0e6ff;
    border: none;
    height: 2em;
    padding: 0.25em 1em;
}

@media(max-width: 900px) {
  
    #header {
    
        width: 90vw;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    #header #social {
        width: 2em;
        height: 6em;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        background-color: var(--cor-principal);
        border-bottom: black solid 1px;
        color: black;
        width: 100vw;
        height:35vh;
        padding-top: 1rem;
        position: fixed;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    
    
    }

    nav ul {
        
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        font-size: small;
    }

    ul li {
        width: auto;
        height: 1rem;
        padding: 0 0.5rem;
        
    
        display: flex;
        flex-direction: row;
        
        justify-content: center;
        align-items: center;
    }    


    li a:hover {
        font-size: 0.5rem;

    }

    .box {
        width: 85vw;
        
        background-color:  var(--cor-principal);
        padding: 30px 25px;
    
    
    }

    #sub button {
       height: auto;
    }
    
    
}
